USE [master]
GO
/****** Object:  Database [Banka]    Script Date: 1.03.2026 20:41:36 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Banka.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Banka_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  Table [dbo].[AltinHesabi]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltinHesabi](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[HesapID] [int] NULL,
	[KullaniciID] [int] NULL,
	[AltinMiktari] [decimal](18, 2) NULL,
	[Tutar] [decimal](18, 2) NULL,
	[IslemTuru] [nvarchar](20) NULL,
	[IslemTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hesaplar]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hesaplar](
	[HesapID] [int] IDENTITY(1,1) NOT NULL,
	[KullanıcıID] [int] NULL,
	[HesapTürüID] [int] NULL,
	[IBAN] [nvarchar](50) NULL,
	[HesapNo] [nvarchar](20) NULL,
	[DövizCinsi] [nvarchar](10) NULL,
	[Bakiye] [decimal](18, 2) NULL,
	[OluşturmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HesapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HesapÖzeti]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HesapÖzeti](
	[OzetID] [int] IDENTITY(1,1) NOT NULL,
	[HesapID] [int] NULL,
	[İşlemTürü] [nvarchar](50) NULL,
	[İşlemTarihi] [datetime] NULL,
	[Tutar] [decimal](18, 2) NULL,
	[Açıklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[OzetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HesapTürü]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HesapTürü](
	[HesapTürüID] [int] IDENTITY(1,1) NOT NULL,
	[TürAdı] [nvarchar](50) NULL,
	[Açıklama] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[HesapTürüID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kartlar]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kartlar](
	[KartID] [int] IDENTITY(1,1) NOT NULL,
	[KullanıcıID] [int] NULL,
	[KartNumarası] [nvarchar](20) NULL,
	[KartTuru] [nvarchar](50) NULL,
	[CVV] [int] NULL,
	[KartLimit] [decimal](18, 2) NULL,
	[Bakiye] [decimal](18, 2) NULL,
	[SonKullanmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[KartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanıcılar]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanıcılar](
	[KullanıcıID] [int] IDENTITY(1,1) NOT NULL,
	[Isim] [nvarchar](50) NULL,
	[Soyad] [nvarchar](50) NULL,
	[Telefon] [nvarchar](20) NULL,
	[TC] [nvarchar](11) NOT NULL,
	[SifreHash] [nvarchar](max) NULL,
	[SifreSalt] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[KullanıcıID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Odemeler]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Odemeler](
	[OdemeID] [int] IDENTITY(1,1) NOT NULL,
	[HesapID] [int] NULL,
	[OdemeTuruID] [int] NULL,
	[Tutar] [decimal](18, 2) NULL,
	[OdemeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OdemeTurleri]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OdemeTurleri](
	[OdemeTuruID] [int] IDENTITY(1,1) NOT NULL,
	[OdemeTuru] [nvarchar](50) NULL,
	[Fiyat] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OdemeTuruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParaTransferleri]    Script Date: 1.03.2026 20:41:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParaTransferleri](
	[TransferID] [int] IDENTITY(1,1) NOT NULL,
	[AlanHesapID] [int] NULL,
	[GonderenHesapID] [int] NULL,
	[GonderenIBAN] [nvarchar](50) NULL,
	[AliciIBAN] [nvarchar](50) NULL,
	[GonderenIsim] [nvarchar](100) NULL,
	[AliciIsim] [nvarchar](100) NULL,
	[Miktar] [decimal](18, 2) NULL,
	[Aciklama] [nvarchar](255) NULL,
	[TransferTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AltinHesabi] ON 

INSERT [dbo].[AltinHesabi] ([IslemID], [HesapID], [KullaniciID], [AltinMiktari], [Tutar], [IslemTuru], [IslemTarihi]) VALUES (1, 4, 1, CAST(1.60 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), N'Alış', CAST(N'2026-02-26T17:33:21.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[AltinHesabi] OFF
GO
SET IDENTITY_INSERT [dbo].[Hesaplar] ON 

INSERT [dbo].[Hesaplar] ([HesapID], [KullanıcıID], [HesapTürüID], [IBAN], [HesapNo], [DövizCinsi], [Bakiye], [OluşturmaTarihi]) VALUES (1, 1, 1, N'TR56229088725318466101', N'411588', N'TRY', CAST(89549.50 AS Decimal(18, 2)), CAST(N'2026-02-26T17:21:00.300' AS DateTime))
INSERT [dbo].[Hesaplar] ([HesapID], [KullanıcıID], [HesapTürüID], [IBAN], [HesapNo], [DövizCinsi], [Bakiye], [OluşturmaTarihi]) VALUES (2, 1, 3, N'TR56807693438409576301', N'719332', N'USD', CAST(200000.00 AS Decimal(18, 2)), CAST(N'2026-02-26T17:21:39.193' AS DateTime))
INSERT [dbo].[Hesaplar] ([HesapID], [KullanıcıID], [HesapTürüID], [IBAN], [HesapNo], [DövizCinsi], [Bakiye], [OluşturmaTarihi]) VALUES (3, 1, 3, N'TR56616492639170524401', N'703564', N'USD', CAST(1500.00 AS Decimal(18, 2)), CAST(N'2026-02-26T17:21:54.727' AS DateTime))
SET IDENTITY_INSERT [dbo].[Hesaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[HesapÖzeti] ON 

INSERT [dbo].[HesapÖzeti] ([OzetID], [HesapID], [İşlemTürü], [İşlemTarihi], [Tutar], [Açıklama]) VALUES (1, 1, N'Altın', CAST(N'2026-02-26T17:33:21.090' AS DateTime), CAST(-10000.00 AS Decimal(18, 2)), N'Altın Alımı (-₺10.000,00)')
INSERT [dbo].[HesapÖzeti] ([OzetID], [HesapID], [İşlemTürü], [İşlemTarihi], [Tutar], [Açıklama]) VALUES (2, 4, N'Altın', CAST(N'2026-02-26T17:33:21.093' AS DateTime), CAST(1.60 AS Decimal(18, 2)), N'Altın Alımı (+1,60 gr)')
SET IDENTITY_INSERT [dbo].[HesapÖzeti] OFF
GO
SET IDENTITY_INSERT [dbo].[HesapTürü] ON 

INSERT [dbo].[HesapTürü] ([HesapTürüID], [TürAdı], [Açıklama]) VALUES (1, N'Vadesiz TL', N'Günlük')
INSERT [dbo].[HesapTürü] ([HesapTürüID], [TürAdı], [Açıklama]) VALUES (2, N'Vadeli TL', N'Yatırım')
INSERT [dbo].[HesapTürü] ([HesapTürüID], [TürAdı], [Açıklama]) VALUES (3, N'Dolar Hesabı', N'Döviz')
SET IDENTITY_INSERT [dbo].[HesapTürü] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanıcılar] ON 

INSERT [dbo].[Kullanıcılar] ([KullanıcıID], [Isim], [Soyad], [Telefon], [TC], [SifreHash], [SifreSalt]) VALUES (1, N'Mehmet', N'Taş', N'5344725852', N'13313313313', N'hn6Kicnz6hmsJuNfJ2unfbt+XLD4r9DWt+WLo6FTBJE=', N'Ubht0PRafEBobZ8Z76SsDg==')
INSERT [dbo].[Kullanıcılar] ([KullanıcıID], [Isim], [Soyad], [Telefon], [TC], [SifreHash], [SifreSalt]) VALUES (2, N'Mehmet', N'Taş', N'5344725852', N'12345678912', N'EF04kbUuO7y55/fcfwoCC2Yo0r0v+asH/4D/p0g8qT0=', N'h5U2ja5kHPjPfGYlJEEXtQ==')
SET IDENTITY_INSERT [dbo].[Kullanıcılar] OFF
GO
SET IDENTITY_INSERT [dbo].[Odemeler] ON 

INSERT [dbo].[Odemeler] ([OdemeID], [HesapID], [OdemeTuruID], [Tutar], [OdemeTarihi]) VALUES (1, 1, 2, CAST(450.50 AS Decimal(18, 2)), CAST(N'2026-02-26T17:34:04.980' AS DateTime))
SET IDENTITY_INSERT [dbo].[Odemeler] OFF
GO
SET IDENTITY_INSERT [dbo].[OdemeTurleri] ON 

INSERT [dbo].[OdemeTurleri] ([OdemeTuruID], [OdemeTuru], [Fiyat]) VALUES (1, N'İnternet', CAST(250.00 AS Decimal(18, 2)))
INSERT [dbo].[OdemeTurleri] ([OdemeTuruID], [OdemeTuru], [Fiyat]) VALUES (2, N'Elektrik', CAST(450.50 AS Decimal(18, 2)))
INSERT [dbo].[OdemeTurleri] ([OdemeTuruID], [OdemeTuru], [Fiyat]) VALUES (3, N'Su', CAST(120.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OdemeTurleri] OFF
GO
ALTER TABLE [dbo].[AltinHesabi] ADD  DEFAULT (getdate()) FOR [IslemTarihi]
GO
ALTER TABLE [dbo].[Hesaplar] ADD  DEFAULT ((0)) FOR [Bakiye]
GO
ALTER TABLE [dbo].[Hesaplar] ADD  DEFAULT (getdate()) FOR [OluşturmaTarihi]
GO
ALTER TABLE [dbo].[Odemeler] ADD  DEFAULT (getdate()) FOR [OdemeTarihi]
GO
ALTER TABLE [dbo].[ParaTransferleri] ADD  DEFAULT (getdate()) FOR [TransferTarihi]
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD FOREIGN KEY([HesapTürüID])
REFERENCES [dbo].[HesapTürü] ([HesapTürüID])
GO
ALTER TABLE [dbo].[Hesaplar]  WITH CHECK ADD FOREIGN KEY([KullanıcıID])
REFERENCES [dbo].[Kullanıcılar] ([KullanıcıID])
GO
ALTER TABLE [dbo].[Kartlar]  WITH CHECK ADD FOREIGN KEY([KullanıcıID])
REFERENCES [dbo].[Kullanıcılar] ([KullanıcıID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([HesapID])
REFERENCES [dbo].[Hesaplar] ([HesapID])
GO
ALTER TABLE [dbo].[Odemeler]  WITH CHECK ADD FOREIGN KEY([OdemeTuruID])
REFERENCES [dbo].[OdemeTurleri] ([OdemeTuruID])
GO
USE [master]
GO
